{% include "header.html" %}

    <section class="center-flex weather-first-section weather-sections" id="section-contact">
        <div class="center-flex weather-submains" id="section-contact-main">
            <div class="weather-title center-flex">
                <h3>Contact Me</h3>
            </div>
            <div class="center-flex" id="contact-info">
                <form method="post" action="{{url_for('contact')}}" class="center-flex" id="contact-info-form">
                    <div class="center-flex contact-info-elements">
                        <h3>Please ensure all fields are completed in order to send your email.</h3>
                    </div>
                    <div class="center-flex contact-info-elements">
                        <input placeholder="Name*" required type="text" name="contact-info-elements-name">
                    </div>
                    <div class="center-flex contact-info-elements">
                        <input placeholder="Email*" required type="email" name="contact-info-elements-email">
                    </div>
                    
                    <div class="center-flex contact-info-elements">
                        <input placeholder="Subject" required type="text" name="contact-info-elements-subject">
                    </div>
                    <div class="center-flex contact-info-elements">
                        <textarea placeholder="Your message" required style="resize: none;" cols="30" rows="10" name="contact-info-elements-message"></textarea>
                    </div>
                    <div class="center-flex contact-info-elements">
                        <input type="submit" value="Submit" id="contact-info-elements-button">
                    </div>
                </form>
            </div>
        </div>
    </section>

{% include "footer.html" %}